/* * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: sans-serif;
} */

.navbar {
	background: #900316;
	/* min-height: 70px; */
	position: fixed;
	width: 100%;
	-webkit-box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
	box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
	color: #fff;
	font-size: calc(10px + 14 * (100vw - 320px)/ 800);
	z-index: 99;
	white-space: nowrap;
}

.navbar a {
	text-decoration: none;
	color: #fff;
	font-weight: 900;
}

.navbar-nav {
	display: contents;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	align-content: justify;
}

ul {
	display: flex;
	align-content:stretch;
}

li {
	margin: 0px;
	display: inline-block;
	padding: 26px 0;
	width: 33.3%;
	text-align: center;
	align-content:space-around;
}

.score {
	text-align: right;
}