.container {
	display: -ms-flexbox;
	display: flex;
	/* min-height: 80%; */
	/* -ms-flex-wrap: wrap; */
	flex-wrap: wrap;
	/* -ms-flex-pack: center; */
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	margin: 0 auto;
}

.card {
	height: 170px;
	width: 170px;
	margin: 8px 25px;
	border: 5px solid #f1f1f1;
	border-radius: 3px;
	/* -webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%); */
	box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
	cursor: pointer;
}

.imgCard {
	height: 160px;
	width: 160px;
}